.form-box {
    margin: 5%;
    padding: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.error-warning {
    color : red;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: small;
}